@main("Home") {

@* No head html to add *@

} {

@* Jumbotron for the main page *@
<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">File tagging for Google Photos</h1>
		<p>Sign in with Google for free to start automatically categorizing and tagging your photos in your Google
			Drive.</p>
		<p><a class="btn btn-primary btn-lg" href="/signin" role="button">Get started</a></p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>What</h2>
			<p>GPhotos Tagger is a free app that runs entirely in your browser. It is used to tag photos in your Google Drive.</p>
		</div>
		<div class="col-md-4">
			<h2>Why</h2>
			<p>It can help you because you can share photos crispily and be more organized.</p>
		</div>
		<div class="col-md-4">
			<h2>How</h2>
			<p>Basic explanation. Read more on GitHub[link].</p>
		</div>
	</div>
</div>

}
