@* For allowing specific inline code to be run *@
@* The parameter is below *@
@* @import views.html.helper.CSPNonce *@
@(implicit requestHeader: RequestHeader)

@main("Home") {

@* No head html to add *@

} {

@* Jumbotron for the main page *@
<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">All your mail in one place</h1>
		<p>Sign in with Google for free to immediately get all of your mail in one organized place.</p>
		<p><a class="btn btn-primary btn-lg" href="/login" role="button">Get started</a></p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>What</h2>
			<p>Super Inbox is a free app that runs entirely in your browser.</p>
		</div>
		<div class="col-md-4">
			<h2>Why</h2>
			<p>It can help you because you can read mail crispily and be more organized.</p>
		</div>
		<div class="col-md-4">
			<h2>How</h2>
			<p>Basic explanation. Read more on GitHub[link].</p>
		</div>
	</div>
</div>

} (requestHeader)
