@main("Login") {

@* Google platform library *@
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content='@System.getenv("OAUTH2_CLIENT_ID")'>

@* For authentication with Google *@
<script src='@routes.Assets.versioned("javascripts/authenticate.js")' type="text/javascript"></script>

} {

<div class="container">
	<h1>Sign in with your 'main' account</h1>
	<p>You will sign in with this account every time to get your mail.</p>

	<form>
		<div class="form-group row">
			@* Google sign in button *@
			<div class="g-signin2" data-onsuccess="onSignIn"></div>
		</div>

		@* Display the user's info in this readonly form *@
		<div class="form-group row">
			<label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" placeholder="Use the sign in button above" readonly id="staticEmail">
			</div>
		</div>
		<div class="form-group row">
			<label for="staticName" class="col-sm-2 col-form-label">Name</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" readonly id="staticName">
			</div>
		</div>
		<div class="form-group row">
			<p class="btn btn-primary" onclick="signIn()">Sign In</p>
		</div>
	</form>
</div>

}
