@* It takes two arguments, a `String` for the title of the page and
 * an `Html` object to insert into the body of the page. *@


@(title: String)(head: Html)(content: Html)

<!DOCTYPE html>
<html lang="en">
	<head>
		@* Here's where we render the page title `String`. *@
		<title>@title | GPhotos Tagger</title>

		@* Required meta tags *@
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		@* Bootstrap CSS comes first, then our stylesheets and then the favicon *@
		<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/bootstrap.css")'>

		<link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
		<link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>

		@* Any other head tags come last *@
		@head

	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">GPhotos Tagger</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse">

				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="https://github.com/elanlb/gphoto-tagger">GitHub</a>
					</li>
					<li class="nav-item">
						<a href="/login">
							<button class="btn btn-primary navbar-btn">Sign In</button>
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<main role="main">
			@* Content from the page will be inserted here *@
			@content
		</main>
	</body>
</html>
