@* For allowing specific inline code to be run *@
@* The parameter is below *@
@import views.html.helper.CSPNonce

@(title: String)(head: Html)(content: Html)(implicit requestHeader: RequestHeader)

<!DOCTYPE html>
<html lang="en">
	<head>
		@* Here's where we render the page title `String`. *@
		<title>@title | Cordova Online</title>

		@* Required meta tags *@
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		@* Bootstrap CSS comes first, then our stylesheets and then the favicon *@
		<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/bootstrap.min.css")'>

		<link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'>
		<link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>

		@* Any other head tags come last *@
		@head

	</head>
	<body>
		@* Bootstrap navbar *@
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">Cordova Online</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="https://github.com/elanlb/super-inbox">GitHub</a>
					</li>
					<li class="nav-item">
						<a href="/account">
							<button class="btn btn-primary navbar-btn">Account</button>
						</a>
					</li>
				</ul>
			</div>
		</nav>

		<main role="main">
			@* Content from the page will be inserted here *@
			@content
		</main>

		@* JQuery code *@
		<script src='@routes.Assets.versioned("javascripts/jquery-3.3.1.min.js")' @{CSPNonce.attr}></script>
	</body>
</html>
